header {
    color: lightcoral;
    background-color: rgba(211, 212, 212, 0.774);
    text-align: center;
    width: 100%;
    height: 60px;
    
}
p{
    color: lightcoral;
    display: flex;
    justify-content:center;
    font-size: 30px;
}
h2{
    color: lightcoral;
    display: flex;
    justify-content:center;
}
footer{
color: lightcoral;
text-align: center;
background-color: rgba(211, 212, 212, 0.774);
width: 100%;
height: 60px;
margin-top: 1%;
}
